.venv/
**/.venv/

**/*.gguf

**/__pycache__/
.DS_Store
**/.DS_Store

dev-*.sh

# dependencies
**/node_modules
**/.pnp
**/.pnp.*
**/.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
**/.next/
**/.out/
layers/communication/app/node_modules
layers/communication/app/.next
layers/communication/app/.out
layers/communication/app/.build

# production
**/.build

# misc
**/.DS_Store
**/*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# vercel
.vercel

# typescript
**/*.tsbuildinfo
**/*.next-env.d.ts